/* for masonry grid */

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid__col {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.list-auto {
  margin-top: 20px;
}
.list-auto__list > * {
  min-width: 0;
}

.list-auto__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
  grid-gap: 20px 1.5%;
  list-style: none;
}

.list-auto__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.list-auto__empty {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #888;
}

@media (max-width: 979px) {
  .list-auto__list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .list-auto__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .list-auto__list {
    grid-template-columns: repeat(1, 1fr);
  }
}